<footer class="text-center">
	<div style="font-size: 35px">
		<a style="color: #3C5A99;" href="https://www.facebook.com/analicia.abernathy"><i class="fab fa-facebook-square"></i></a></li>
		<a style="color: #38A1F3;" href="https://twitter.com/pogib14"><i class="fab fa-twitter-square"></i></a></li>
		<a style="color: #211F1F;" href="https://github.com/iSilverfyre"><i class="fab fa-github-square"></i></a></li>
		<a style="color: #2867B2;" href="https://www.linkedin.com/in/analicia-abernathy"><i class="fab fa-linkedin"></i></a></li>
	</div>
	<div style="font-family: 'Play', sans-serif;">
		&copy; 2009 - 2024 | All Rights Reserved
	</div>
</footer>